# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*$py.class
**/*.DS_Store
roadLaneFinding/.DS_Store
# Distribution / packaging
env/

.vscode/
roadLaneFinding/test_result/
*.npy
hist?.png
qt_temp.*
*.qmlc
*.jsc
*.png-autosave.kra
*.png~
*.kra~

Tasks/
temp/

inImage (copy).png
inImage.png
processingImage.png
