# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*$py.class

# Distribution / packaging
env/

.vscode/
qt_temp.*
*.qmlc
*.jsc
*.png-autosave.kra
*.png~

testPyQt/
Tasks/

inImage (copy).png
inImage.png
processingImage.png
